
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
	$(document).ready( function(){
		$("#toggle").click(function(){
			$("#hide").toggle();
			if($("#toggle").val() == "Ocultar pistas")
				$("#toggle").val("ver pistas");
			else
				$("#toggle").val("Ocultar pistas");
		});
	});
</script>


<h1>
    Juego Aleatorio:
</h1>

<div>
    Preguntas acertadas = <span id="score"><%= score %></span>
</div>

<form method="get" action="/quizzes/randomcheck/<%= quiz.id %>">

    <p>
        Pregunta: <b><%= quiz.question %></b>
    </p>


    <div class="wideRow">
        <input type="text" class="itemWide" id="answer" name="answer" value="" placeholder="Respuesta" autocomplete="off"/>
        <input type="submit" class="itemNarrow" id="send" value="Comprobar">
    </div>
    <% var tips = quiz.Tips; %>
	<% var quizId = quiz.id; %>
	<% var quizAuthorId = quiz.AuthorId; %>
	<div id="hide">
		<% include ./tips/index %>
	</div>
	<input type="button" value="ver pista" id="toggle">

</form>

